micropython/ports/rp2/modules/builds/.DS_Store
micropython/ports/rp2/modules/builds/micropython 1.27/.DS_Store
micropython/ports/rp2/modules/builds/.DS_Store
.DS_Store
micropython/.DS_Store
micropython/ports/.DS_Store
micropython/ports/rp2/.DS_Store
